body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

.hero_sect {
  background: url("./assets/hero-bg.webp") no-repeat center center fixed;
  background-size: cover;
}

.circularProgress {
  width: 80px;
  border-radius: 50%;
  background-color: #0d0959;
}
